DATABASE_URL=file:./payload.db
PAYLOAD_SECRET=YOUR_SECRET_HERE
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

CONTACT_TO=lithotherm@hotmail.com
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=lithotherm@hotmail.com
SMTP_PASS=YOUR_EMAIL_APP_PASSWORD
SMTP_FROM=lithotherm@hotmail.com
